
@{
    ViewData["Title"] = "Training";
    Layout = "_Layout2";
}
<br />
<h1 style="text-align:center">Trening</h1>

<div class="content">

    <!-- Post grid -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <div class="card-img-actions mb-3">
                        <img class="card-img img-fluid" src="../../img/Split.jpg" alt="">
                        <div class="card-img-actions-overlay card-img">
                            <a asp-area="Training" asp-controller="Home" asp-action="TrainingSplit" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>

                    <h5 class="font-weight-semibold mb-1">
                        <a asp-area="Training" asp-controller="Home" asp-action="TrainingSplit">Trening Split</a>
                    </h5>

                    <br />

                   Split to trening siłowy. Polega na ćwiczeniu każdej partii mięśni oddzielnie.
                </div>

                <div class="card-footer d-flex">
                    <a asp-area="Training" asp-controller="Home" asp-action="TrainingSplit" class="ml-auto">Czytaj więcej <i class="icon-arrow-right14 ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <div class="card-img-actions mb-3">
                        <img class="card-img img-fluid" src="../../img/FBW.jpg" alt="">
                        <div class="card-img-actions-overlay card-img">
                            <a asp-area="Training" asp-controller="Home" asp-action="TrainingFBW" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>

                    <h5 class="font-weight-semibold mb-1">
                        <a asp-area="Training" asp-controller="Home" asp-action="TrainingFBW">Trening Full Body Workout</a>
                    </h5>

                    <br />

                    Full Body Workout (FBW) to trening siłowy, Polega na trenowaniu całego ciała podczas jednego treningu.
                </div>

                <div class="card-footer d-flex">
                    <a asp-area="Training" asp-controller="Home" asp-action="TrainingFBW" class="ml-auto">Czytaj więcej <i class="icon-arrow-right14 ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    <div class="card-img-actions mb-3">
                        <img class="card-img img-fluid" src="../../img/Calisthenics.jpg" alt="">
                        <div class="card-img-actions-overlay card-img">
                            <a asp-area="Training" asp-controller="Home" asp-action="Calisthenics" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>

                    <h5 class="font-weight-semibold mb-1">
                        <a asp-area="Training" asp-controller="Home" asp-action="Calisthenics">Kalistenika</a>
                    </h5>

                    <br />

                    Kalistenika to trening siłowy opierający się na ćwiczeniach z własną masą ciała.
                </div>

                <div class="card-footer d-flex">
                    <a asp-area="Training" asp-controller="Home" asp-action="Calisthenics" class="ml-auto">Czytaj więcej <i class="icon-arrow-right14 ml-2"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
