
@{
    ViewData["Title"] = "TrainingSplit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />

<h1>TrainingSplit</h1>
<div class="row">
    <div class="content">

        <div class="container">

            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="card-body">
                                <div class="card-img-actions mb-3">
                                    <img class="card-img img-fluid" src="../../img/Split.jpg" alt="">

                                </div>

                                <h5 class="font-weight-semibold mb-1">
                                    Trening Split
                                </h5>

                                <br />

                                Split charakteryzuje się przede wszystkim tym, że każda jednostka treningowa jest poświęcona konkretnej partii/partiom ciała. W przeciwieństwie do FBW (Full Body Workout, z ang. trening całego ciała) wybieramy jedną, dwie lub trzy partie i na nich skupiamy cały swój czas danego dnia. Na przykład w ośmiu ćwiczeniach zawieramy ruchy angażujące tylko klatkę piersiową i biceps. To podejście pozwala na maksymalizację przekrwienia jednego mięśnia przez dłuższy czas co jest jednym z warunków hipertrofii (rozrostu mięśnia). Dzięki temu podejściu można również wyznaczyć priorytety (to co chcemy poprawić w naszej sylwetce) i bardziej się na nich skupić. Można bowiem tak ułożyć plan aby priorytetową partię przepracować dwa razy w tygodniu co spotęguje efekt. Dzięki podziałowi na partie można trenować 6 razy w tygodniu, a nawet codziennie! Jednakże najczęściej trening jest ułożony w taki sposób aby każdą partię mięśniową przepracować RAZ w tygodniu

                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 mt-4">

                                <div class="card">
                                    <div class="card-header header-elements-inline bg-grey-800">
                                        <h6 class="card-title">Klatka Piersiowa</h6>
                                        <div class="header-elements">
                                            <div class="list-icons">
                                                <a class="list-icons-item" data-action="collapse"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="card-body ">
                                        1) Wyciskanie sztangi na ławeczce (skos dodatni) – 5 serii; 3, 2, 1 powtórzeń <br />

                                        2) Superseria:<br />

                                        • Wyciskanie hantli w leżeniu – 3-4 serie; 8-10 powtórzeń <br />

                                        • Rozpiętki – 3-4 serie; 8-10 powtórzeń<br />

                                        3) Rozpiętki w siadzie na maszynie – 3 serie; 12-15 powtórzeń<br />

                                        4) Przenoszenie hantla za głowę – 3 serie; 12-15 powtórzeń<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">

                                <div class="card">
                                    <div class="card-header header-elements-inline bg-grey-700">
                                        <h6 class="card-title">Plecy</h6>
                                        <div class="header-elements">
                                            <div class="list-icons">
                                                <a class="list-icons-item" data-action="collapse"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="card-body collapse">
                                        1) Podciąganie na drążku nachwytem – 5 serii; 3, 2, 1 powtórzeń<br />

                                        2) Superseria:<br />

                                        • Wiosłowanie sztangą – 3-4 serie; 8-10 powtórzeń<br />

                                        • Ściąganie drążka wyciągu górnego stojąc – 3-4 serie; 8-10 powtórzeń<br />

                                        3) Wznosy barków (szrugsy) – 3 serie; 12-15 powtórzeń<br />

                                        4) Ściąganie rączki wyciągu górnego w siadzie – 3 serie; 12-15 powtórzeń<br />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-3">

                                <div class="card">
                                    <div class="card-header header-elements-inline bg-grey-600">
                                        <h6 class="card-title">Nogi</h6>
                                        <div class="header-elements">
                                            <div class="list-icons">
                                                <a class="list-icons-item" data-action="collapse"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="card-body collapse">
                                        1) Przysiady ze sztangą na barkach – 5 serii; 3, 2, 1 powtórzeń <br />
                                        2) Superseria:<br />
                                        • Wypychanie na suwnicy – 3-4 serie; 8-10 powtórzeń<br />

                                        • Uginanie nóg w leżeniu na brzuchu – 3-4 serie; 8-10 powtórzeń<br />
                                        3) Prostowanie nóg na maszynie w siadzie – 3-4 serie; 12-15 powtórzeń<br />

                                        4) Wspięcia na palce w staniu – 3-4 serie; 12-15 powtórzeń<br />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-3">

                                <div class="card">
                                    <div class="card-header header-elements-inline bg-grey-600">
                                        <h6 class="card-title">Barki</h6>
                                        <div class="header-elements">
                                            <div class="list-icons">
                                                <a class="list-icons-item" data-action="collapse"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="card-body collapse">
                                        1) Wyciskanie sztangi z przed głowy – 5 serii; 3, 2, 1 powtórzeń <br />

                                        2) Superseria: <br />

                                        • Podciąganie sztangi wzdłuż tułowia – 3-4 serie; 8-10 powtórzeń <br />

                                        • Unoszenie ramion z hantlem bokiem w leżeniu – 3-4 serie; 8-10 powtórzeń <br />

                                        3) Unoszenie ramion w przód z hantlami – 3 serie; 12-15 powtórzeń <br />

                                        4) Unoszenie ramion bokiem w opadzie tułowia z linkami wyciągu dolnego – 3 serie; 12-15 powtórzeń <br />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 mt-3">

                                <div class="card">
                                    <div class="card-header header-elements-inline bg-grey-600">
                                        <h6 class="card-title">Biceps i Triceps</h6>
                                        <div class="header-elements">
                                            <div class="list-icons">
                                                <a class="list-icons-item" data-action="collapse"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="card-body collapse">
                                        1) Uginanie ramion na modlitewniku – 5 serii; 3, 2, 1 powtórzeń <br />

                                        2) Superseria:<br />

                                        • Wyciskanie francuskie sztangą łamaną – 3-4 serie; 8-10 powtórzeń<br />

                                        • Uginanie ramion „młotkowe” – 3-4 serie; 8-10 powtórzeń<br />

                                        3) Pompki na poręczach (dipy) – 3 serie; 12-15 powtórzeń<br />

                                        4) Uginanie ramion ze sztangą – 3 serie; 12-15 powtórzeń<br />
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>