
@{
    ViewData["Title"] = "TrainingFBW";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />

<h1 style="text-align:center;">TrainingFBW</h1>

<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="row">

                <div class="col-md-6">

                    <div class="card-body">
                        <div class="card-img-actions mb-3">
                            <img class="card-img img-fluid" src="../../img/FBW.jpg" alt="">

                        </div>

                        <h5 class="font-weight-semibold mb-1">
                            Trening Full Body Workout
                        </h5>

                        <br />

                        FBW, czyli full body workout, to trening całego ciała, jest to jedna z metod, w której możemy wykonać na jednej sesji ćwiczenia na wszystkie grupy mięśniowe. Dzięki temu możemy zaoszczędzić dużo czasu, a przy tym budować masę mięśniową oraz ograniczyć monotonię dzięki ciągłym zmianom ćwiczeń. W tym artykule postaram się przybliżyć, na czym polega ta przez niektórych niedoceniana metoda treningowa.

                    </div>


                </div>
                <div class="col-md-6">
                    <div class="col-md-12 mt-4">

                        <div class="card">
                            <div class="card-header header-elements-inline bg-grey-800">
                                <h6 class="card-title">Trening nr 1</h6>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapseOne" class="card-body ">
                                1. Przysiad ze sztangą na karku 4 x 12-10-8-6 <br />

                                2. Martwe ciągi 4 x 10-8-6-4 <br />

                                3. Wyciskanie sztangi leżąc na ławce poziomej  4 x 12-10-8-6 <br />

                                4. Wyciskanie sztangi nad głowę siedząc przy użyciu maszyny Smitha 4 x 12-10 <br />

                                5. Dipsy 4 x 10-8 (w miarę możliwości zastosować dociążenie) <br />

                                6. Uginanie przedramion ze sztangą łamaną (krzywką) przy użyciu modlitewnika 4 x 12-10 <br />

                                7. Przyciąganie ud do brzucha w zwisie na drążku stałym 4 x 15 <br />

                                8. Wspięcia na palce stojąc ze sztangą na karku 4 x 20 <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">

                        <div class="card">
                            <div class="card-header header-elements-inline bg-grey-700">
                                <h6 class="card-title">Trening nr 2</h6>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapseOne" class="card-body collapse">
                                1. Wykroki chodzone z hantlami w rękach 4 x 10 (10 powtórzeń na nogę- długie kroki) <br />

                                2. Wiosłowanie hantlą w podporze przodem 4 x 12-10 (powtórzeń na rękę) <br />

                                3. Wyciskanie sztangi leżąc na ławce dodatniej  4 x 12-10-8-6 <br />

                                4. Wyciskanie hantli naprzemiennie siedząc 4 x 10 (po 10 powtórzeń na rękę) <br />

                                5. Wyciskanie sztangi wąskim chwytem leżąc na ławce poziomej 4 x 12-8 <br />

                                6. Uginanie przedramion z hantlami naprzemiennie siedząc (supinacja) 4 x 10 (po 10 powtórzeń na rękę) <br />

                                7. Skłony tułowia trzymając linki wyciągu górnego przy szyi w klęku 4 x 15 <br />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">

                        <div class="card">
                            <div class="card-header header-elements-inline bg-grey-600">
                                <h6 class="card-title">Trening nr 3</h6>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapseOne" class="card-body collapse">
                                1. Przysiad przedni 4 x 12-10-8-6 <br />

                                2. Przysiad ze sztangą na karku przy użyciu maszyny Smitha 4 x 12 <br />

                                3. Podciąganie nachwytem na drążku stałym 4 x max <br />

                                4. Wyciskanie hantli leżąc na ławce ujemnej 4 x 12-10 <br />

                                5. Wznosy ramion na bok z hantlami w opadzie tułowia 4 x 12 <br />

                                6. Prostowanie przedramion z hantlem zza głowy siedząc 4 x 12-10 <br />

                                7. Uginanie przedramion z hantlami chwytem neutralnym „młotkowym” 4 x 10 <br />

                                8. Unoszenie kończyn dolnych do świecy leżąc na podłożu 4 x 15 <br />
                            </div>
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>