@model HealthyService.WebPanel.Areas.Products.Model.AdminAddEditProductModel
@{
    ViewData["Title"] = "AdminAddProduct";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container w-50 pt-3">
    <div class="card">
        <div class="modal-header bg-primary">
            <h6 class="modal-title">Edytuj produkt w bazie danych</h6>

        </div>
        <div class="modal-body">
            <h6 class="font-weight-semibold">Zaktualizuj informacje o produkcie</h6>
            <hr>
            <div>
                <form asp-area="Products" asp-controller="Home" asp-action="EditProduct" method="post" class="form-validate-jquery" role="form">
                    <input asp-for="@Model.ProductId" hidden />
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <i>Nazwa Produktu</i>
                            <input type="text" class="form-control form-control-user" asp-for="Name" placeholder="Ryż biały">
                        </div>
                        <div class="col-sm-3 mb-3 mb-sm-0">
                            <i>Jednostka</i>
                            <select asp-for="ProductMeasure" asp-items="Model.ProductMeasures" class="form-control">
                            </select>
                            <span asp-validation-for="ProductMeasure"></span>

                        </div>
                        <div class="col-md-3">
                            <div class="row">


                                <i class="ml-3">Widoczny</i>

                            </div>


                            <input class="ml-5 mt-2" style="transform:scale(2.5)" type="checkbox" asp-for="IsActive" checked="checked" />
                        </div>

                        <div class="col-sm-4">
                            <i>Białko</i>
                            <input type="text" class="form-control " asp-for="Protein" placeholder="5">

                        </div>
                        <div class="col-sm-4">
                            <i>Węglowodany</i>
                            <input type="text" class="form-control form-control-user" asp-for="Carbo" placeholder="10">

                        </div>
                        <div class="col-sm-4">
                            <i>Tłuszcze</i>
                            <input type="text" class="form-control form-control-user" asp-for="Fat" placeholder="5">

                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Zapisz
                    </button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="p-2" asp-area="Products" asp-controller="Home" asp-action="Index">Powrót</a>
        </div>
    </div>
</div>