
@{
    ViewData["Title"] = "SettingsView";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>SettingsView</h1>

<div class="container">
    <div class="content">

        <!-- Post grid -->
        <div class="row">

            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        ss
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>