@model HealthyService.WebPanel.Areas.Users.Model.MacroKcalAddModel
@{
    ViewData["Title"] = "MacroKcalAdd";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<script>
    $(document).ready(function () {

    });
    function Kcal() {
        var ProteinValue = document.getElementById("ProteinValue").value;
        var CarboValue = document.getElementById("CarboValue").value;
        var FatValue = document.getElementById("FatValue").value;
        var ResultKcal = (ProteinValue * 4) + (CarboValue * 4) + (FatValue * 9);

        document.getElementById("KcalValue").innerHTML = ResultKcal;
    }
</script>
<div class="container">
    <div class="content">

        <!-- Post grid -->
        <div class="row">

            <div class="card">
                <div class="row">
                    <div class="col-md-5">

                        <div class="card-body">
                            <div class="card-img-actions mb-3">
                                <img class="card-img img-fluid" src="../../img/FoodKcal.jpg" alt="">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="card-body ">
                            <div class="row">
                                <div class=" card col-md-12 p-1" style="text-align:center; font-size:20px;">
                                    <h1 class="h4 p-4">Kalorie i Makroskładniki</h1>
                                    <span>

                                        Dodaj jaką ilość kalorii oraz makroskładników chcesz spożywać, w każdej chwili będziesz mógł zaktualizować te informacje.

                                    </span>
                                    <hr>

                                    <div class="p-2">
                                        <div class="text-center">
                                            <h1 class="h4  mb-4">Aktualizuj</h1>
                                        </div>

                                        <form asp-area="Users" asp-controller="Home" asp-action="MacroKcalAdd" method="post" class="form-validate-jquery user" role="form">
                                            <div class="form-group row">
                                                <div class="col-sm-3 mb-3 mb-sm-0">
                                                    <i>Kalorie</i>
                                                    <label class="form-control form-control-user" id="KcalValue" @*asp-for="#"*@ ></label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <i>Białko</i>
                                                    <input type="text" onchange="Kcal()" class="form-control form-control-user" asp-for="UserProteinLevel" id="ProteinValue" placeholder="120">
                                                    <span asp-validation-for="UserProteinLevel"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <i>Węglowodany</i>
                                                    <input type="text" onchange="Kcal()" class="form-control form-control-user" asp-for="UserCarboLevel" id="CarboValue" placeholder="300">
                                                    <span asp-validation-for="UserCarboLevel"></span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <i>Tłuszcze</i>
                                                    <input type="text" onchange="Kcal()" class="form-control form-control-user" asp-for="UserFatLevel" id="FatValue" placeholder="60">
                                                    <span asp-validation-for="UserFatLevel"></span>
                                                </div>
                                            </div>
                                            <hr>


                                            <button class="btn btn-primary btn-user btn-block text-white">
                                                Zapisz
                                            </button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>