@model HealthyService.WebPanel.Areas.Users.Model.MeasurementAddEditModel

@{
    ViewData["Title"] = "MeasurementEdit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container">
    <div class="content">

        <!-- Post grid -->
        <div class="row">

            <div class="card">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card-body">
                            <div class="card-img-actions mb-3">
                                <img class="card-img img-fluid" src="../../img/Humen.jpg" alt="">

                            </div>





                        </div>


                    </div>

                    <div class="col-md-6  p-4">
                        <h3 style="text-align:center"> Dane Podstawowe</h3>
                        <hr>
                        <form asp-area="Users" asp-controller="Home" asp-action="MeasurementEdit" method="post" class="form-validate-jquery user" role="form">

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <i>Wzrost</i>

                                    <input type="text" asp-for="Height" class="form-control form-control-user" placeholder="Wzrost">
                                    <span asp-validation-for="Height"></span>
                                </div>
                                <div class="col-sm-6">
                                    <i>Waga</i>

                                    <input type="text" asp-for="Weight" class="form-control form-control-user" placeholder="Waga">
                                    <span asp-validation-for="Weight"></span>
                                </div>

                                <input asp-for="Age" hidden />
                                <input asp-for="Gender" hidden />


                            </div>
                            <div class="form-group row">

                                <div class="col-md-12">
                                    <i>Stopień aktywności:</i>
                                    <select asp-for="ActivityLevel" asp-items="Model.ActivityLevels" class="form-control">
                                    </select>
                                    <span asp-validation-for="ActivityLevel"></span>
                                </div>
                            </div>


                            <div class="row pl-3">
                                1 - Mała aktywność (Brak treningu)<br />


                                2 - Średnia aktywność ( 1 trening w tygodniu)<br />


                                3 - Duzą aktywność (2-3 treningi w tygodniu)<br />


                                4 - Bardzo duża aktywność ( 4-5 treningów w tygodniu)<br />
                            </div>


                            <hr>
                            <h3 style="text-align:center">
                                Wymiary
                            </h3>

                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <i> Obwód <br /> Klatki piersiowej</i>

                                    <input type="text" class="form-control form-control-user" asp-for="ChestCircumference" placeholder="Uzupełnij">
                                    <span asp-validation-for="ChestCircumference"></span>
                                </div>
                                <div class="col-sm-4">
                                    <i> Obwód <br /> Pasa</i>

                                    <input type="text" class="form-control form-control-user" asp-for="WaistCircumference" placeholder="Uzupełnij">
                                    <span asp-validation-for="WaistCircumference"></span>
                                </div>
                                <div class="col-sm-4">
                                    <i> Obwód <br /> Bioder</i>

                                    <input type="text" class="form-control form-control-user" asp-for="HipCircumference" placeholder="Uzupełnij">
                                    <span asp-validation-for="HipCircumference"></span>
                                </div>



                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <i>Obwód <br /> ramienia</i>

                                    <input type="text" class="form-control form-control-user" asp-for="ArmCircumference" placeholder="Uzupełnij">
                                    <span asp-validation-for="ArmCircumference"></span>
                                </div>
                                <div class="col-sm-3">
                                    <i>Obwód <br /> uda</i>

                                    <input type="text" class="form-control form-control-user" asp-for="ThighCircumference" placeholder="Uzupełnij">
                                    <span asp-validation-for="ThighCircumference"></span>
                                </div>
                                <div class="col-sm-3">
                                    <i> Obwód <br /> łydki</i>

                                    <input type="text" class="form-control form-control-user" asp-for="CalfCircumference" placeholder="Uzupełnij">
                                    <span asp-validation-for="CalfCircumference"></span>
                                </div>
                                <div class="col-sm-3">
                                    <i> Obwód <br /> przedramienia</i>

                                    <input type="text" class="form-control form-control-user" asp-for="ForearmCircumference" placeholder="Uzupełnij">
                                    <span asp-validation-for="ForearmCircumference"></span>
                                </div>

                            </div>
                            <hr>

                            <button class="btn btn-primary btn-user btn-block text-white">
                                Zapisz
                            </button>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>