@model  HealthyService.WebPanel.Areas.Users.Model.MeasurementAddEditModel
@{
    ViewData["Title"] = "MeasurementAdd";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />

<div class="container">
    <div class="content">

        <!-- Post grid -->
        <div class="row">




            <div class="card">
                <div class="row">

                    <div class="col-md-6">
                        
                        <div class="card-body">

                            <div class="card-img-actions mb-3">
                                <img class="card-img img-fluid" src="../../img/Humen.jpg" alt="">

                            </div>





                        </div>


                    </div>

                    <div class="col-md-6  p-4">
                        <h3 style="text-align:center"> Dane Podstawowe</h3>
                        <hr>

                        <form asp-area="Users" asp-controller="Home" asp-action="MeasurementAdd" method="post" class="form-validate-jquery user" role="form">
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user"asp-for="Age" placeholder="Wiek">
                                    <span asp-validation-for="Age" ></span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" asp-for="Height" placeholder="Wzrost">
                                    <span asp-validation-for="Height"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" asp-for="Weight" placeholder="Waga">
                                    <span asp-validation-for="Weight"></span>
                                </div>



                            </div>
                            <div class="form-group row">

                                <div class="col-md-6 mb-4">
                                    <label>Stopień aktywności</label>
                                    <select asp-for="ActivityLevel" asp-items="Model.ActivityLevels" class="form-control">
                                    </select>
                                    <span asp-validation-for="ActivityLevel"></span>

                                </div>

                                <div class="col-md-6 mb-4">
                                    <label>Płeć</label>
                                    <select asp-for="Gender" asp-items="Model.Genders" class="form-control">
                                    </select>
                                    <span asp-validation-for="Gender"></span>

                                </div>
                            </div>
                            <div class="row pl-3">
                                1 - Bardzo niska aktywność (Brak treningu)<br />


                                2 - Niska aktywność ( 1 trening w tygodniu)<br />


                                3 - Umiarkowana aktywność (2-3 treningi w tygodniu)<br />


                                4 - Wysoka aktywność ( 4-5 treningów w tygodniu)<br />
                            </div>

                            <hr>
                            <h3 style="text-align:center">
                                Obwody
                            </h3>

                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" asp-for="ChestCircumference" placeholder="Klatki piersiowej">
                                    <span asp-validation-for="ChestCircumference"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" asp-for="WaistCircumference" placeholder="Pasa">
                                    <span asp-validation-for="WaistCircumference"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" asp-for="HipCircumference" placeholder="Bioder">
                                    <span asp-validation-for="HipCircumference"></span>
                                </div>



                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" asp-for="ArmCircumference" placeholder="Ramienia">
                                    <span asp-validation-for="ArmCircumference"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" asp-for="ThighCircumference" placeholder="Uda">
                                    <span asp-validation-for="ThighCircumference"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-user" asp-for="CalfCircumference" placeholder="Łydki">
                                    <span asp-validation-for="CalfCircumference"></span>
                                </div>

                            </div>
                            <hr>

                            <button class="btn btn-primary btn-user btn-block text-white">
                                Zapisz
                            </button>

                        </form>


                    </div>
            </div>
        </div>
    </div>
</div>
</div>