
@{
    ViewData["Title"] = "FoodDiary";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script>
    $(document).ready(function () {

        $('#metricDefinitionItems').select2({
            ajax: {
                delay: 500,
                url: '@Url.Action("GetProducts", "Home", new { area = "Diary" })',
                data: function (params) {
                    var query = {
                        search: params.term,
                    };

                    return query;
                }
            }
        });


        ReloadMealList();
    });

    function ReloadMealList() {
          var dataToSend = {
          }
                $('#partialForMealList').load('@Url.Action("GetMealList", "Home", new { area = "Diary"})', dataToSend, function (response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $('#partialForMealList').html('<span class="d-flex text-danger justify-content-center p-5"><i class="icon-warning2 pr-2"></i> ' + msg + xhr.status + ' ' + xhr.statusText + '</span>');
                }
            });
    };


      function ReloadCreateMeal(mealIdParam) {
          $('#AddMeal').addClass('d-none');
          $('#Meal').removeClass('d-none');
          var dataToSend = {
              mealId : mealIdParam
          }
                $('#partialForCreateMeal').load('@Url.Action("GetCreateMeal", "Home", new { area = "Diary"})', dataToSend, function (response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    $('#partialForCreateMeal').html('<span class="d-flex text-danger justify-content-center p-5"><i class="icon-warning2 pr-2"></i> ' + msg + xhr.status + ' ' + xhr.statusText + '</span>');
                }
            });
        };
    function AddMeal() {
        

        var url = "/Diary/Home/CreateMeal";
        var data = {}
            $.ajax({
                url: url,
                type: 'post',
                data: data,
                success: function (responseData) {
                    console.log("complete: " + responseData);
                    ReloadCreateMeal(responseData);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error");
                },
                complete: function (jqXHR, textStatus) {

                    
                }
            });
    }
    function CancelMeal() {
        $('#AddMeal').removeClass('d-none');
        $('#Meal').addClass('d-none');
    }
</script>



<div class="row m-2 mt-4">

    <div class="col-md-7 ">
        <div class="card rounded-top-0 card_to_block ">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-lg-6 p-3">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-calendar2"></i></span>
                        </span>
                        <input type="text" class="form-control pickadate" placeholder="Wybierz datę&hellip;">
                    </div>
                </div>
                <div class="col-md-3 pl-2 pr-2 mt-3">
                    <button type="button" id="AddMeal" onclick="AddMeal();" class="btn btn-secondary bg-slate" data-style="expand-right" data-spinner-color="#333" data-spinner-size="20">
                        <i class="icon-plus-circle2 mr-2"></i>
                        <span class="ladda-label">Dodaj Posiłek</span>
                    </button>
                </div>
            </div>
        </div>


        <div id="Meal" class="card border-top-1 border-top-indigo-600 rounded-top-0 card_to_block d-none">

            <div>
                <div class="card-header header-elements-md-inline p-4 bg-indigo">
                    <h5>
                        <i class="icon-album mr-2"></i>
                        <span class="font-weight-semibold">
                            <i class="fa fa-wizards-of-the-coast"></i> Dodaj posiłek
                        </span>


                        <span class="ml-md-auto">
                        </span>
                    </h5>
                    <div class="header-elements">
                        <div>

                            <div class="list-icons">

                                <a class="list-icons-item" onclick="CancelMeal()"><i class="note-icon-col-remove "></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="partialForCreateMeal" class="m-3">

                </div>
            </div>
        </div>

        <div id="partialForMealList" class="m-3">

        </div>


    </div>
        <div class="col-md-5">
            <div class="card border-top-1 border-top-indigo-600 rounded-top-0 card_to_block ">

                <div id="metric_crud">
                    <div class="card-header header-elements-md-inline p-4 bg-slate-400" @*style="background-color:#002070"*@>
                        <h5>
                            <i class="icon-album mr-2"></i>
                            <span class="font-weight-semibold">
                                Dodaj własny produkt
                            </span>
                        </h5>

                    </div>

                    <div class="m-3">
                        <form id="addMetricValueFormInternal" autocomplete="on" role="form" asp-area="Counters" asp-controller="ProductItems" asp-action="AddMetricValue" method="post" class="form-validate-jquery">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="counter_input_box">
                                        <div class="form-group">
                                            <label>Nazwa <span class="text-danger">*</span></label>
                                            <input class="form-control touchspin-empty" placeholder="" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-xs-6">

                                    <div class="form-group">
                                        <label for="MetricDefinition">Jednostka <span class="text-danger">*</span></label>
                                        <select id="metricDefinitionItems" class="form-control" required data-placeholder="">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Białko<span class="text-danger">*</span></label>
                                        <input class="form-control touchspin-empty" placeholder="" required>
                                    </div>
                                </div>

                                <div class="col-md-4 col-xs-6">

                                    <div class="form-group">
                                        <label for="MetricDefinition">Węglowodany <span class="text-danger">*</span></label>
                                        <input class="form-control touchspin-empty" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6">

                                    <div class="form-group">
                                        <label for="MetricDefinition">Tłuszcze <span class="text-danger">*</span></label>
                                        <input class="form-control touchspin-empty" placeholder="" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kliknij by zapisać</label><br />
                                        <button type="button" onclick="submitAddMetricValueForm();" class="btn btn-secondary bg-slate" data-style="expand-right" data-spinner-color="#333" data-spinner-size="20">
                                            <i class="icon-plus-circle2 mr-2"></i>
                                            <span class="ladda-label">Zatwierdź</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
